---
import Layout from '../layouts/Default.astro'
import Navbar from '../components/Navbar.astro'
import NavbarClone from '../components/NavbarClone.astro'
import Starfall from '../components/Starfall.astro'
const title = 'Home'
---

<Layout title={title}>
  <div class="dark-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-fullheight is-transparent">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <!-- Animated particles -->
      <Starfall />

      <!-- Hero Image and Title -->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-vcentered">
            <!-- Landing page Title -->
            <div class="column is-5 landing-caption">
              <h1 class="title is-1 is-light is-semibold is-spaced main-title">Disaster Preparedness and Technology Solutions</h1>
              <h2 class="subtitle is-5 is-light is-thin">Mitigrator ensures operational continuity and efficiency, even in the face of natural disasters.</h2>
              <!-- CTA -->
              <p class="buttons">
                <a href="#start" class="button k-button k-primary raised has-gradient is-fat is-bold">
                  <span class="text">Get Started</span>
                  <span class="front-gradient"></span>
                </a>
                <a href="#" class="button k-button k-primary raised has-gradient is-fat is-bold">
                  <span class="text">Learn More</span>
                  <span class="front-gradient"></span>
                </a>
              </p>
            </div>
            <!-- Hero image -->
            <div class="column is-7">
              <figure class="image">
                <img src="/img/illustrations/cloud.png" alt="Disaster Preparedness" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Icon Features section -->
    <section id="start" class="section is-transparent is-relative">
      <!-- Container -->
      <div class="container">
        <!-- Content wrapper -->
        <div class="content-wrapper is-medium mt-6">
          <div class="columns is-vcentered">
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img src="/img/illustrations/ai.avif" alt="AI-Driven" data-aos="fade-up" data-aos-delay="100" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                <h4 class="title is-6 is-tight is-light">AI-Driven Solutions</h4>
                <p>Leverage our AI to predict and mitigate the impacts of natural disasters on your operations.</p>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img src="/img/illustrations/realtime.jpg" alt="Real-Time Analysis" data-aos="fade-up" data-aos-delay="300" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                <h4 class="title is-6 is-tight is-light">Real-Time Analysis</h4>
                <p>Get real-time insights and data to respond swiftly and effectively during emergencies.</p>
              </div>
            </div>
            <!-- Feature -->
            <div class="column is-4">
              <div class="feature">
                <img src="/img/illustrations/oper.avif" alt="Operational Continuity" data-aos="fade-up" data-aos-delay="500" data-aos-offset="200" data-aos-easing="ease-out-quart" />
                <h4 class="title is-6 is-tight is-light">Operational Continuity</h4>
                <p>Ensure your business remains operational and efficient, no matter the circumstances.</p>
              </div>
            </div>
          </div>

          <!-- Play video button -->
          
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /Icon Features section -->

    <!-- Side Features section -->
    <section id="big-gradient" class="section is-transparent">
      <!-- Container -->
      <div class="container">
        <!-- Divider -->
        <div class="divider is-centered"></div>
        <!-- Title & subtitle -->
        <h2 class="title is-light is-semibold has-text-centered is-spaced">Proactive Emergency Management</h2>
        <h4 class="subtitle is-6 is-light has-text-centered is-compact">
          From predictive climate data to real-time response coordination, Mitigrator helps you manage emergencies proactively.
        </h4>

        <!-- Content wrapper -->
        <div class="content-wrapper is-large">
          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">
                  <img src="/img/illustrations/data.jpg" alt="Emergency System" />
                  <span>Integrated Emergency System</span>
                </h3>
                <div class="divider is-long"></div>
                <p class="is-light">
                  Our integrated emergency system leverages the latest technology to mitigate risks and coordinate responses effectively.
                </p>
                <div class="cta-wrapper">
                  <a href="/emergency" class="button k-button k-primary raised has-gradient is-bold">
                    <span class="text">Learn More</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/data.jpg" alt="Emergency System" />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature image desktop -->
            <div class="column is-7 is-hidden-mobile">
              <img class="side-feature" src="/img/illustrations/driven.jpg" alt="Data Analysis" />
            </div>

            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">
                  <img src="/img/illustrations/driven.jpg" alt="Data Analysis" />
                  <span>Data-Driven Insights</span>
                </h3>
                <div class="divider is-long"></div>
                <p class="is-light">
                  Utilize data-driven insights to make informed decisions and ensure your business continuity during emergencies.
                </p>
                <div class="cta-wrapper">
                  <a href="#" class="button k-button k-primary raised has-gradient is-bold">
                    <span class="text">Whitepaper</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Feature image only for mobile -->
            <div class="column is-7 is-hidden-desktop is-hidden-tablet">
              <img class="side-feature" src="/img/illustrations/rapid.jpg" alt="Data Analysis" />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">
                  <img src="/img/illustrations/rapid.jpg" alt="Rapid Response" />
                  <span>Rapid Response Coordination</span>
                </h3>
                <div class="divider is-long"></div>
                <p class="is-light">
                  Coordinate rapid responses to minimize downtime and ensure your operations continue smoothly.
                </p>
                <div class="cta-wrapper">
                  <a href="#" class="button k-button k-primary raised has-gradient is-bold">
                    <span class="text">Join Us</span>
                    <span class="front-gradient"></span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/rapid.jpg" alt="Rapid Response" />
            </div>
          </div>
        </div>
        <!-- /Content wrapper -->
      </div>
      <!-- /Container -->
    </section>
    <!-- /Side Features section -->

    <!-- App section -->
    
    <!-- /App section -->

    <!-- Contact section -->
    
    <!-- /Contact section -->
  </div>
</Layout>
