---
import Layout from '../layouts/Default.astro'
import Navbar from '../components/Navbar.astro'
import NavbarClone from '../components/NavbarClone.astro'
const title = 'Token'
---

<Layout title={title}>
  <div class="token-wrapper">
    <!-- Landing page Hero -->
    <section class="hero is-medium">
      <div class="hero-head">
        <!-- Cloned navbar -->
        <NavbarClone />

        <!-- Static navbar -->
        <Navbar />
      </div>

      <div class="hero-body has-text-centered">
        <div class="columns">
          <div class="column is-6 is-offset-3">
            <div class="token-image">
              <img src="/img/illustrations/krypton-token.svg" />
            </div>
            <h1 class="title is-2 is-light is-semibold is-spaced main-title">Efficient Data Migration</h1>
            <h2 class="subtitle is-5 is-light is-thin"> Mitigrator simplifies data migration across different systems. Achieve seamless transitions and minimize downtime.</h2>
            <!-- CTA -->
            <p>
              <a href="/#start" class="button k-button k-primary raised has-gradient is-fat is-bold">
                <span class="text">More details</span>
                <span class="front-gradient"></span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section is-medium">
      <div class="container">
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Workflow Optimization</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Enhance your data workflow with Mitigrator's customizable migration strategies and optimization tools.
                </p>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/krypton-token-network.svg" alt="" />
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/token-stack.svg" alt="" />
            </div>

            <!-- Feature content -->
            <div class="column is-5">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Robust Security Measures</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Mitigrator ensures data integrity and security throughout the migration process, adhering to industry standards.
                </p>
              </div>
            </div>
          </div>

          <div class="columns is-vcentered">
            <!-- Feature content -->
            <div class="column is-5 is-offset-1">
              <div class="side-feature-content">
                <h3 class="title is-4 is-light">Increased Security</h3>
                <div class="divider"></div>
                <p class="is-light">
                  Support for multiple data sources and formats.
- Seamless integration with existing IT environments.
                </p>
              </div>
            </div>

            <!-- Feature image -->
            <div class="column is-7">
              <img class="side-feature" src="/img/illustrations/token-lock.svg" alt="" />
            </div>
          </div>
        </div>

       
    </section>
  </div>
</Layout>
